body {
	font-family: 'Solitreo', cursive;
	background-color: #eba226;
	margin: 0;

}

body, p, h1{
	border: 3px black dashed;
	padding: 15px;
}

p {
	background-color: yellow;
	text-align: justify;
	font-size: 15px;
	line-height: 1.5;
	letter-spacing: -1px;
	margin: 20px 5px 10px 15px;
}

h1 {
	background-color: red;
	margin: 10px 50px;
	text-align: center;
	text-shadow: 5px 5px 5px white;
}

b {
	background-color: purple;
	display: block;
	width: 50px;
	margin: 0 auto;
}

img {
	vertical-align: middle;
	width: 500px;
	display: block;
	margin: 0 auto;
}